---
import type BlogPost from "@content/config.ts";
import type Series from "@types";
import { getCollection } from "astro:content";
import { findPostsInSeries } from "@lib/blog.ts";
import { slugifyUrl } from "@lib/utils.ts";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-icon";

const posts: BlogPost[] = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const allPostsWithSeries: BlogPost[] = posts.filter(
  (post: BlogPost) => post.data.series !== undefined,
);

const seriesNames: string[] = [
  ...new Set(allPostsWithSeries.map((post: BlogPost) => post.data.series.name)),
];

const seriesDescriptions: string[] = [
  ...new Set(
    allPostsWithSeries.map((post: BlogPost) => post.data.series.description),
  ),
];

const allSeries = seriesNames.reduce(
  (acc, index, cV) => [
    {
      ...acc,
      name: index,
      description: seriesDescriptions[cV],
      posts: findPostsInSeries(index, allPostsWithSeries),
    },
  ],
  {},
);
---

<BaseLayout
  title="All Series"
  description="A list of all the series on the blog.">
  <article class="py-4 flex flex-wrap md:flex-nowrap">
    {
      allSeries.map((series) => {
        let postLength = `${series.posts.length} ${
          series.posts.length == 1 ? "Post" : "Posts"
        }`;
        return (
          <>
            <div class="md:w-72 md:mb-0 -mb-2 align-baseline">
              <div class="px-2 ml-2">
                <Icon
                  name="twemoji:blue-book"
                  class="inline-block -mt-px text-sm w-4 h-4"
                />
                <span class="ml-1 font-bold text-sm text-gray-700 dark:text-gray-400">
                  {postLength}
                </span>
              </div>
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 font-serif dark:text-white">
                {series.name}
              </h2>
              <div class="prose prose-neutral dark:prose-invert max-w-[80ch] prose-branding-blue">
                {series.description}
              </div>
              <a
                href={`/series/${slugifyUrl(series.name)}`}
                class="block rounded-sm text-sm bg-branding-navy-600 w-fit text-white h-fit px-2 py-1 mt-1 dark:hover:bg-branding-navy-500 duration-100 transition-colors hover:bg-branding-navy-700">
                Read More
              </a>
            </div>
          </>
        );
      })
    }
  </article>
</BaseLayout>
