---
import type { Link } from "@types";
interface Props {
  name: string;
  active?: boolean;
  children: Link[];
  isMobile?: boolean;
}

const { name, active = false, children, isMobile = false } = Astro.props;
import { Icon } from "astro-icon";
---

{
  isMobile && (
    <li x-data="{open:false}">
      <button
        class="text-sm px-3 py-2 text-right hover:text-branding-blue-600 dark:hover:text-branding-blue-400 flex items-center ml-auto mr-0 text-branding-black dark:text-branding-white"
        x-on:click="open = !open">
        <span class="w-full text-right">{name}</span>
        <Icon
          name="heroicons/chevron-right-20-solid"
          class="h-5 w-5 mt-0.5 transform-transition duration-200"
          :class="{'rotate-90': open===true}"
        />
      </button>
      <nav
            x-show="open"
            x-transition:enter="transition-transform transition-opacity ease-out duration-200"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform translate-y-0"
            x-transition:leave="transition ease-in-out duration-200"
            x-transition:leave-end="opacity-0 transform -translate-y-2"
          >
          {
            children.map((child: Link) => {
              <a href={child.href} class="block text-sm px-4 py-2 hover:text-branding-blue-600 dark:hover:text-branding-blue-400 dark:text-branding-white">
              {child.name}   
              </a>
            })
          }
          </nav>
    </li>
  )
}

{
  !isMobile && (
    <li
      class:list={[
        "relative",
        "inline-block",
        "h-full",
        "items-center",
        "p-3",
        "hover:backdrop-brightness-75",
        "dark:hover:backdrop-brightness-125",
        "text-branding-black",
        "dark:text-branding-white",
        {
          "border-b-2 border-branding-navy dark:border-branding-navy-500":
            active,
        },
      ]}
      x-data="{ open: false }">
      <button @click="open = !open" class="flex items-center">
        <span>{name}</span>
        <Icon name="heroicons/chevron-right-20-solid" class="h-5 w-5 mt-0.5 transform-transition duration-200" :class="{'rotate-90': open}"/>        
      </button>
       <nav
    class="absolute mt-2 bg-gray-200 rounded shadow-xl l-0 dark:bg-gray-800 w-36 duration-75 hover:backdrop-brightness-75 text-branding-black dark:text-branding-white"
    x-show="open"
    x-transition:enter="transition-transform transition-opacity ease-out duration-200"
    x-transition:enter-start="opacity-0 transform -translate-y-2"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in-out duration-200"
    x-transition:leave-end="opacity-0 transform -translate-y-3">
    <ul>
      {
        children.map((child: Link) => (
          <a
            href={child.href}
            class="block px-2 py-1 hover:text-branding-blue-600 dark:hover:text-branding-blue-400 transition-colors duration-75">
            {child.name}
          </a>
        ))
      }
    </ul>
  </nav>
    </li>
  )
}
