---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-serif/700.css";
import "@fontsource/ibm-plex-sans/700.css";
import { SITE_META, FEATURED_PROJECT_COUNT } from "@consts";
import HeroSection from "@components/HeroSection.astro";
import { type BlogPost, type Project } from "@content";
import { getCollection } from "astro:content";
import Icon from "astro-icon";
const projects: Project[] = (await getCollection("projects", ({ data }) => {
  return import.meta.env.PROD == true
    ? data.featured == true && data.draft !== true
    : data.featured == true && true;
})).slice(0, FEATURED_PROJECT_COUNT);
---

<BaseLayout title="Home" description={SITE_META.description}>
  <section
    class="min-h-screen grid place-items-center bg-cover bg-center [&>*]:col-start-1 [&>*]:row-start-1">
    <HeroSection />
  </section>
  <section class="min-h-screen" x-ref="about">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2
          class="sm:text-3xl text-2xl font-bold mb-4 text-branding-gray-900 dark:text-branding-white">
          About Me
        </h2>
        <div
          class="lg:w-2/3 mx-auto text-base prose prose-base max-w-none prose-neutral dark:prose-invert leading-relaxed prose-branding-blue">
          Hi! I'm Jacob, a former student of the University of Mary Washington.
          I graduated with a major in Computer Science with a minor in
          cybersecurity. Although I majored in cybersecurity, I found that it
          really wasn't what I was looking for - my original plan was to minor
          in political science, but the closest thing the university had was
          International Relations, which wasn't exactly what I was looking for -
          this was also around the time the <a
            href="https://en.wikipedia.org/wiki/Facebook%E2%80%93Cambridge_Analytica_data_scandal"
            >Facebook-Cambridge Analytica scandal</a
          >
           was coming to light, and so I figured that cybersecurity was going to
          become very quickly involved with political science.
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font min-h-screen" x-ref="projects">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1
            class="sm:text-3xl text-2xl font-medium title-font mb-2 text-branding-gray-900 dark:text-branding-white uppercase">
            Featured Projects
          </h1>
          <div class="h-1 w-20 bg-branding-blue rounded"></div>
        </div>
        <p
          class="lg:w-1/2 w-full leading-relaxed text-neutral-700 dark:text-neutral-300">
          These projects are the ones I am most proud of.
        </p>
      </div>
      <div class:list={[
        "-m-4",
        "grid",
        "grid-cols-1",
        "md:grid-cols-2",
        `md:grid-rows-${FEATURED_PROJECT_COUNT}`,
        `lg:grid-cols-${FEATURED_PROJECT_COUNT}`,
        "lg:grid-rows-2"
      ]}>
      {
        projects.map((project: Project) => (
          <div class="p-4 col-span-1">
            <div class="bg-gray-100 dark:bg-[#102840] shadow-md p-6 rounded-lg dark:shadow-branding-white/20">
                <p class="tracking-widest text-branding-blue-500 text-xs font-medium title-font uppercase dark:text-branding-blue-400">
                  {project.data.category}
                </p>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4 dark:text-branding-white">
                  {project.data.title}
                </h2>
                <div class="prose prose-neutral dark:prose-invert line-clamp-2 prose-sm md:prose-base">
                  {project.data.description}
                </div>
                <div class="flex space-x-3 mt-2">
                  <a
                    href={project.data.links.repo}
                    class="text-sm hover:underline align-baseline text-branding-blue-500 dark:text-branding-blue-400 dark:hover:text-branding-blue-300 hover:text-branding-blue-600 transition-all duration-100 motion-reduce:duration-0 group "
                    aria-label=`${project.data.title} Repo`
                    title=`${project.data.title} Repo`>
                    <Icon
                      name="mdi/git"
                      class="h-4 w-4 inline mr-1 mb-1 fill-branding-blue-500 dark:fill-branding-blue-400 group-hover:text-branding-blue-600 dark:group-hover:text-branding-blue-300"
                    />
                    <span>Repo</span>
                  </a>
                </div>
              </div>
          </div>
        ))
      }
      </div>
    </div>
  </section>
</BaseLayout>
