---
import { SITE_META } from "@consts";
import type { SocialLink } from "@types";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
---

<aside class="hidden lg:block bg-branding-navy text-white grid-in-sidebar">
  <div class="flex flex-col items-center">
    <h2 class="p-2 font-semibold uppercase">{SITE_META.title}</h2>
    <div
      class="mt-3 rounded-full bg-branding-gray-400 w-40 h-40 overflow-hidden mx-auto">
      <Image
        src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light"
        alt="My personal avatar"
        width="500"
        height="550"
      />
    </div>
    <p class="p-2 mx-auto mt-2 text-sm text-center text-branding-white/80">
      {SITE_META.tagline}
      {SITE_META.availableForHire ? " Currently available for hire." : ""}
    </p>
    {
      SITE_META.socialLinks && SITE_META.socialLinks.length > 0 && (
        <div class="mx-auto space-x-3 p-3 -mt-1 w-fit flex">
          {SITE_META.socialLinks.map((link: SocialLink) => (
            <a
              href={link.href}
              class="text-branding-white hover:text-blue-400 transition-colors duration-75 group">
              <Icon
                name={link.icon}
                class="h-5 w-5 fill-branding-white hover:fill-blue-400"
              />
            </a>
          ))}
        </div>
      )
    }
    <p class="absolute bottom-4 before:content-['©'] text-sm">
      {`2021 - ${new Date().getFullYear()} ${SITE_META.author}`}
    </p>
  </div>
</aside>
