---
import MobileMenu from "./MobileMenu.astro";
import { NAV_LINKS } from "@consts";
import { isNavLinkActive } from "@lib/utils";
import type { Link } from "@consts";
import { Icon } from "astro-icon";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header
  class="z-10 items-center grid-in-header bg-branding-gray dark:bg-branding-neutral-800"
  x-data="{mobileOpen: false}">
  <div class="flex h-[52px] 2xl:h-[62px]">
    <button
      class="h-full p-3 hover:bg-blue-300 lg:hidden"
      x-on:click="mobileOpen = !mobileOpen">
      <Icon name="fa:bars" class="h-3 w-3" />
    </button>
    <nav class="h-full">
      <ul class="hidden lg:flex h-full items-center space-x-4">
        {
          NAV_LINKS.map((link: Link) => {
            if (link.children) {
              let url = link.children[0].href.split("/")[1];
              return (
                <li
                  class="relative inline-block h-full items-center p-3 hover:backdrop-brightness-75 text-branding-black dark:text-branding-white"
                  class:list={[`${
                    isNavLinkActive(url, currentPath.split("/")[0])
                      ? "border-b-2 border-branding-navy dark:border-branding-navy-500"
                      : ""
                  }`]}
                  x-data="{ open: false }">
                  <button
                    @click="open = !open"
                    class="inline-flex items-center">
                    {link.name}
                    <Icon name="heroicons:chevron-right-20-solid" class="h-5 w-5 transition-transform duration-200 mt-0.5" :class="{'rotate-90': open === true}"/>
                  </button>
                  <nav
                    class="absolute mt-2 bg-gray-200 rounded shadow-xl l-0 dark:bg-gray-800 w-36 duration-75 hover:backdrop-brightness-75 text-branding-black dark:text-branding-white"
                    x-show="open"
                    x-transition:enter="transition-transform transition-opacity ease-out duration-200"
                    x-transition:enter-start="opacity-0 transform -translate-y-2"
                    x-transition:enter-end="opacity-100 transform translate-y-0"
                    x-transition:leave="transition ease-in-out duration-200"
                    x-transition:leave-end="opacity-0 transform -translate-y-3">
                    {link.children.map((child: Link) => (
                      <a href={child.href} class="block px-2 py-1">
                        {child.name}
                      </a>
                    ))}
                  </nav>
                </li>
              )
            } else {
              let url = link.href.split("/")[1];
              return (
              <a
                href={link.href}
                class:list={[
                  "bg-transparent",
                  "text-branding-black",
                  "dark:text-branding-white",
                  "h-full",
                  "p-3",
                  "duration-150",
                  "border-0",
                  "font-sans",
                  "hover:backdrop-brightness-75",
                  "transition-all",
                  `${
                    isNavLinkActive(url, currentPath.split("/")[0])
                      ? "border-b-2 border-branding-navy dark:border-branding-navy-500"
                      : ""
                  }`,
                ]}>
                {link.name}
              </a>
            );
            }
          })
        }
      </ul>
    </nav>
    <div class="flex items-center h-full my-auto space-x-4 ml-auto">
      <button
        class="h-full p-3 duration-75 hover:backdrop-brightness-75 inline-flex place-items-center dark:hover:backdrop-brightness-125"
        @click="darkMode = !darkMode">
        <Icon
          name="heroicons:sun-solid"
          class="text-branding-white hidden dark:inline-block w-5 h-5"
        />
        <Icon
          name="heroicons:moon-solid"
          class="text-branding-black dark:hidden inline-block w-5 h-5"
        />
      </button>
    </div>
    <!-- TODO: Add Mobile Menu -->
  </div>
  <!-- Mobile Menu -->
  <MobileMenu />
</header>
