---
import type Project from "@content/config.ts";
import { Icon } from "astro-icon/components";
import "@fontsource/ibm-plex-sans/300.css";
interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article class="py-3.5 grid md:grid-cols-[18rem_auto]">
  <aside class="md:row-span-1 md:mb-0 -mb-2 align-baseline md:px-2">
    <p
      class="font-semibold title-font uppercase text-branding-gray-700 dark:text-branding-gray-400">
      {project.data.category}
    </p>
    <p
      class="mt-1 text-branding-gray-700 dark:text-branding-gray-400 text-sm font-light">
      {project.data.tools.join(" • ")}
    </p>
  </aside>
  <div class="mt-4 md:mt-0 md:ml-4">
    <h2
      class="text-2xl font-medium text-gray-900 title-font font-serif dark:text-white md:mb-2">
      {project.data.title}
    </h2>
    <div
      class="prose prose-neutral dark:prose-invert max-w-[80ch] prose-branding-blue">
      {project.data.description}
    </div>
    <div class="space-x-3 mt-2 flex">
      <a
        href={`/projects/${project.slug}`}
        class="inline-flex place-items-center rounded-sm text-sm bg-branding-navy-600 w-fit text-white h-fit px-2 py-1 mt-1 dark:hover:bg-branding-navy-500 duration-100 transition-colors hover:bg-branding-navy-700 align-baseline">
        <span>Read More</span>
        <Icon
          name="heroicons:arrow-right-20-solid"
          class="h-4 w-4 fill-white ml-1 mt-px"
        />
      </a>
      <a
        href={project.data.links.repo}
        class="inline-flex place-items-center rounded-sm text-sm bg-branding-brown hover:bg-branding-brown-600 w-fit text-white h-fit px-2 py-1 mt-1 duration-100 transition-colors">
        <Icon name="mdi/git" class="h-4 w-4 fill-white mr-1 -mb-px" />
        <span>Repo</span>
      </a>
    </div>
  </div>
</article>
