---
import type { BlogPost } from "@content/config.ts";
import MdiCalendar from "~icons/mdi/mdi-calendar";
import MdiClockOutline from "~icons/mdi/mdi-clock-outline";
import { formatPostDate, calcReadingTime, slugifyPostDate } from "@lib/utils";

interface Props {
  post: BlogPost;
  wordCount: number;
}
const { post, wordCount } = Astro.props as Props;

import { marked } from "marked";

const body = `${post.body
  .split(" ")
  .slice(0, wordCount + 1)
  .join(" ")}...`;
const postBody = marked.parse(body);
---

<article class="py-3.5 grid md:grid-cols-[18rem_auto]">
  <aside class="md:row-span-1 md:mb-0 -mb-2 align-baseline md:px-2">
    <MdiCalendar
      class="inline-block -mt-px text-sm w-4 h-4 fill-gray-700 dark:fill-gray-400"
    />
    <span class="ml-1 font-bold text-sm text-gray-700 dark:text-gray-400"
      >Posted:
    </span>
    <time
      datetime={post.data.pubDate.toISOString()}
      class="font-semibold text-sm text-gray-700 dark:text-gray-400"
      >{formatPostDate(post.data.pubDate)}</time
    >
    <span
      class="block mt-1 text-branding-gray-600 dark:text-branding-gray-400 text-sm font-semibold">
      <MdiClockOutline
        class="inline-block w-4 h-4 -mt-1 mr-1 fill-gray-600 dark:fill-gray-400"
      />
      {calcReadingTime(post.body)}
    </span>
    {
      post.data.series && (
        <div class="text-gray-700 dark:text-gray-400 text-sm mt-1 break-words">
          Part {post.data.series.weight} of {post.data.series.name}
        </div>
      )
    }
  </aside>
  <div class="mt-4 md:mt-0 md:ml-4">
    <h2
      class="text-2xl font-medium text-gray-900 title-font font-serif dark:text-white md:mb-2">
      {post.data.title}
    </h2>
    <div
      class="prose prose-neutral dark:prose-invert max-w-[80ch] prose-branding-blue"
      set:html={postBody}
    />
    <a
      href={`/blog/${slugifyPostDate(post.data.pubDate)}/${post.slug}`}
      class="block rounded-sm text-sm bg-branding-navy-600 w-fit text-white h-fit px-2 py-1 mt-1 dark:hover:bg-branding-navy-500 duration-100 transition-colors hover:bg-branding-navy-700"
      >Read More</a
    >
  </div>
</article>
