---
interface Props {
  title: string;
  pubDate: Date;
  lastModDate?: Date;
  tags?: string[];
  categories?: string[];
}

import { formatPostDate, hashtagPostTags, slugifyUrl } from "@lib/utils";
import { Icon } from "astro-icon/components";

const {
  title,
  pubDate,
  lastModDate = pubDate,
  tags = [],
  categories = [],
} = Astro.props;
const postTags = hashtagPostTags(tags);
---

<header class="align-baseline">
  <h1 class="mt-1 text-wrap-balance">{title}</h1>
  <Icon name="mdi:calendar" class="w-5 mb-1 mr-1 inline-block" />
  <span class="font-bold mr-1 dark:text-neutral-300 text-neutral-700"
    >Posted:</span
  >
  <time class="inline">
    {formatPostDate(pubDate)}
  </time>
  {
    lastModDate.getTime() > pubDate.getTime() ? (
      <div class="inline ml-8">
        <span class="font-bold">Last Updated:</span>
        <time class="inline">{formatPostDate(lastModDate)}</time>
      </div>
    ) : (
      ""
    )
  }

  <div class="block">
    <Icon name="heroicons:tag-20-solid" class="h-5 w-5 mr-1 inline mb-1" />
    <strong class="mr-1 dark:text-neutral-300 text-neutral-700">Tags:</strong>
    {
      postTags.map((tag, index) => {
        if (tags[index + 1] !== undefined) {
          return (
            <>
              <a href={`/tags/${slugifyUrl(tags[index])}`}>{`${tag}`}</a>
              <span>&nbsp;&nbsp;</span>
            </>
          );
        } else {
          return <a href={`/tags/${slugifyUrl(tags[index])}`}>{`${tag}`}</a>;
        }
      })
    }
  </div>
  <div class="block">
    <Icon name="mdi:folder-open" class="h-5 w-5 mr-1 inline mb-1" />
    <strong class="mr-1 dark:text-neutral-300 text-neutral-700"
      >Categories:</strong
    >
    {
      categories.map((category, index) => {
        if (category[index + 1] !== undefined) {
          return (
            <>
              <a
                href={`/categories/${slugifyUrl(
                  categories[index],
                )}`}>{`${category}`}</a>
              <span>&nbsp;&nbsp;</span>
            </>
          );
        } else {
          return (
            <a
              href={`/categories/${slugifyUrl(
                categories[index],
              )}`}>{`${category}`}</a>
          );
        }
      })
    }
  </div>
</header>
